.game-title{
  text-align: center;
  font-size: 45px;
}
.gameimg{
  height: 100px;
  display: block;
  margin: 30px auto;
  width: 500px;
}
.board{
  margin-top: 20px;
}
.row{
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.box-1{
  height: 120px;
  width: 120px;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  font-size: 70px;
  text-align: center;
}
.box-2{
  height: 120px;
  width: 120px;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  font-size: 70px;
  text-align: center;
}
.box-3{
  height: 120px;
  width: 120px;
  border-bottom: 5px solid white;
  font-size: 70px;
  text-align: center;
}
.box-7{
  height: 120px;
  width: 120px;
  border-right: 5px solid white;
  font-size: 70px;
  text-align: center;
}
.box-8{
  height: 120px;
  width: 120px;
  font-size: 70px;
  text-align: center;
}
.player-container{
  display: flex;
  justify-content: space-around;
  font-size: 25px;
}
.reset-btn{
  border: none;
  display: block;
  margin: 60px auto;
  padding: 10px 40px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
}
.play-turn{
  text-align: center;
  font-size: 30px;
}
.win{
  text-align: center;
}